<a href="https://colab.research.google.com/github/KarthikAmuthuri/MongoDB/blob/main/Telephone_Directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Telephone Directory CRUD Operation

In [1]:
# install and start server
!apt install mongodb >log
!service mongodb start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

In [2]:
from pymongo import MongoClient
client = MongoClient()
client.list_database_names()

['admin', 'local']

#create operations

creating the databases and its collections

In [3]:
#creating the database named "telephone_directory" 
db = client.telephone_directory

In [4]:
#creating collection named "Persons"
col = db.Persons

In [5]:
db.list_collection_names()

[]

Inserting single document

In [6]:
#Inserting a single record
document = {'Name': 'karthik',
    'Phone': 908209482,
    'Place':'madanapalle'}

db.col.insert_one(document)

In [7]:
#getting names of available databases
client.list_database_names()

['admin', 'local', 'telephone_directory']

From the list , we can confirm that our database named **telephone_directory** is **created**

In [8]:
#getting available collections names in database
db.list_collection_names()

['col']

Inserting multiple documents

In [9]:
#creating a document with multiple records 
document1 = [{'Name': 'Madhu',
    'Phone': 2984457452,
    'Place':'jaipal'},
    {'Name':'Sudha',
     'Phone':5484157185,
     'Place':'coimbatore'},
     {'Name':'Rahim',
      'Phone': 4987454572,
      'Place':'chintaparthi'},
      {'Name': 'Jagga',
       'Phone': 785484684,
       'Place': 'madanapalle'      
    }]
    
db.col.insert_many(document1)

#Reading/Retrieving operations

Retrieving the data from the collection

Retrieving data can be done in the following two ways.
1. Retrieving a single document
2. Retrieving multiple documents

Retrieving a single document from the collection

In [10]:
db.col.find_one()

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'),
 'Name': 'karthik',
 'Phone': 908209482,
 'Place': 'madanapalle'}

In [11]:
db.col.find_one({'Name': 'Madhu'})

{'_id': ObjectId('63b7fb80d3bbf3b852c32679'),
 'Name': 'Madhu',
 'Phone': 2984457452,
 'Place': 'jaipal'}

Retrieving multiple documents from the collection

In [12]:
x = db.col.find({'Place':'madanapalle'})
for i in x:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'), 'Name': 'karthik', 'Phone': 908209482, 'Place': 'madanapalle'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267c'), 'Name': 'Jagga', 'Phone': 785484684, 'Place': 'madanapalle'}

In [13]:
x = list(db.col.find())
x

[{'_id': ObjectId('63b7fb80d3bbf3b852c32678'),
  'Name': 'karthik',
  'Phone': 908209482,
  'Place': 'madanapalle'},
 {'_id': ObjectId('63b7fb80d3bbf3b852c32679'),
  'Name': 'Madhu',
  'Phone': 2984457452,
  'Place': 'jaipal'},
 {'_id': ObjectId('63b7fb80d3bbf3b852c3267a'),
  'Name': 'Sudha',
  'Phone': 5484157185,
  'Place': 'coimbatore'},
 {'_id': ObjectId('63b7fb80d3bbf3b852c3267b'),
  'Name': 'Rahim',
  'Phone': 4987454572,
  'Place': 'chintaparthi'},
 {'_id': ObjectId('63b7fb80d3bbf3b852c3267c'),
  'Name': 'Jagga',
  'Phone': 785484684,
  'Place': 'madanapalle'}]

In [14]:
res = list(db.col.find({'Place':'madanapalle'}).limit(1))
for i in res:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'), 'Name': 'karthik', 'Phone': 908209482, 'Place': 'madanapalle'}

#update  operations

There are two ways to update an document:


1.   Modify the document, use the update_one() method
2.   Modify multiple documents, use the update_many() method

Modify the document, use the update_one() method

In [15]:
#To update a single document we use update_one() method.
present_data = db.col.find_one({'Name':'Jagga'})
print('present data :\n', present_data)

present data :
 {'_id': ObjectId('63b7fb80d3bbf3b852c3267c'), 'Name': 'Jagga', 'Phone': 785484684, 'Place': 'madanapalle'}

In [16]:
#The update_one() method requires two arguments, query and update.
update_query = {'$set': {'Name':'Jagadeesh'}}
updated_data = db.col.update_one(present_data,update_query)
print('updated data :')
updated_data

updated data :

In [17]:
db.col.find_one({'Phone': 785484684})

{'_id': ObjectId('63b7fb80d3bbf3b852c3267c'),
 'Name': 'Jagadeesh',
 'Phone': 785484684,
 'Place': 'madanapalle'}

In [18]:
db.col.update_one({'Name':'karthik'},{'$set':{'Phone': 4986584554}})

In [19]:
db.col.find_one({'Name':"karthik"})

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'),
 'Name': 'karthik',
 'Phone': 4986584554,
 'Place': 'madanapalle'}

Modify multiple documents, use the update_many() method

In [20]:
res1 = db.col.find({'Place': 'madanapalle'})
for i in res1:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'), 'Name': 'karthik', 'Phone': 4986584554, 'Place': 'madanapalle'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267c'), 'Name': 'Jagadeesh', 'Phone': 785484684, 'Place': 'madanapalle'}

In [21]:
present_data={"Place":"madanapalle"}
new_data={"$set":{"Place":"banglore"}}
db.col.update_many(present_data,new_data)

In [22]:
res2 = db.col.find({'Place':'banglore'})
for i in res2:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'), 'Name': 'karthik', 'Phone': 4986584554, 'Place': 'banglore'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267c'), 'Name': 'Jagadeesh', 'Phone': 785484684, 'Place': 'banglore'}

#Deletion operations

There are two ways to delete an document:


1.   Delete the document, use the delete_one() method
2.   Delete multiple documents, use the delete_many() method

Delete the document, use delete_one() method

In [23]:
#delete_one() requires a query parameter which specifies the document to delete.
 
query2 = {'Place': 'chintaparthi'}
db.col.delete_one(query2)

In [24]:
res3 = db.col.find()
for i in res3:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32678'), 'Name': 'karthik', 'Phone': 4986584554, 'Place': 'banglore'}
{'_id': ObjectId('63b7fb80d3bbf3b852c32679'), 'Name': 'Madhu', 'Phone': 2984457452, 'Place': 'jaipal'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267a'), 'Name': 'Sudha', 'Phone': 5484157185, 'Place': 'coimbatore'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267c'), 'Name': 'Jagadeesh', 'Phone': 785484684, 'Place': 'banglore'}

Delete multiple documents, use delete_many() method

In [25]:
query3 = {'Place':'banglore'}
db.col.delete_many(query3)

In [26]:
res4 = db.col.find()
for i in res4:
  print(i)

{'_id': ObjectId('63b7fb80d3bbf3b852c32679'), 'Name': 'Madhu', 'Phone': 2984457452, 'Place': 'jaipal'}
{'_id': ObjectId('63b7fb80d3bbf3b852c3267a'), 'Name': 'Sudha', 'Phone': 5484157185, 'Place': 'coimbatore'}